// clearfix
@if $-fw-use-grid == true {

    .grid {
        margin-left: $-fw-baseline * -1;
        @extend .cf;
    }
    .grid__cell {
        float: left;
        padding-left: $-fw-baseline;
    }

} // /@if
