/*------------------------------------*\
    DEFAULTS
\*------------------------------------*/
/**
 * Default variables. Redefine these in your `_config.scss` file to override them.
 */

/***
    TYPE
***/
/*
    TYPE SCALE

    This determines the exponential growth of the font-size as seen on
    http://type-scale.com/
*/
$-fw-minor-second       : 1.067 !default;
$-fw-major-second       : 1.125 !default;
$-fw-minor-third        : 1.2 !default;
$-fw-major-third        : 1.25 !default;
$-fw-perfect-fourth     : 1.333 !default;
$-fw-augmented-fourth   : 1.414 !default;
$-fw-perfect-fifth      : 1.5 !default;
$-fw-golden-ratio       : 1.618 !default;

/*
    Set default ratio used throughout project
*/
$-fw-ratio: $-fw-major-third !default;

/*
    Set max and min number of headers to be used in project (h1 through h6)
*/

$-fw-fontsize__big: (
    deca,
    hecto,
    kilo,
    mega,
    giga,
    tera
);

$-fw-fontsize__small: (
    deci,
    centi,
    milli,
    micro,
    nano,
    pico
);

/***
    GRID
***/
/*  Set default number of columns used in grid */
$-fw-grid-start: 1 !default;
$-fw-grid-end: 12 !default;

/***
    WIDTHS & BREAKPOINTS
***/
/*
    Define breakpoints for responsive
*/
$-fw-breakpoint__large:     68.750em !default; // Small desktop to large desktop
$-fw-breakpoint__medium:    50em !default; // Portrait tablet to landscape tablet
$-fw-breakpoint__small:     30em !default; // Portrait mobile to landscape mobile
/*
    Set array containing all breakpoints in descending order, these will be used
    to create the media-queries to set the width of your grid columns.
*/
$-fw-breakpoint__sizes: (
    ($-fw-breakpoint__large, large),
    ($-fw-breakpoint__medium, medium),
    ($-fw-breakpoint__small, small)
);

$-fw-breakpoints: (
    large: $-fw-breakpoint__large,
    medium: $-fw-breakpoint__medium,
    small: $-fw-breakpoint__small
);

/***
    COMPONENTS
***/
$-fw-use-baseline-grid      : false !default;
$-fw-use-grid               : false !default;
$-fw-use-grid--responsive   : false !default;
