/*------------------------------------*\
    DEFAULTS
\*------------------------------------*/
/**
 * Default variables. Redefine these in your `_config.scss` file to override them.
 */

/***
    BASELINE

    Setup baseline and spacing units for vertical & horizontal rhythm.
    For h1 through h6 (and other textelements) you can use
    $-fw-fontsize * x.5 $-fw-baseline, if rounded values are too big or small.
    EG:
    h2 {
        line-height: $-fw-baseline * 2.5;
    }

***/
/*
    Set default font-size
*/
$-fw-fontsize: 1rem !default;
/*
    Set default line-height
*/
$-fw-lineheight: 1.4 !default;
/*
    Calculate baseline (= spacing unit for margins and paddings) from default
    font-size and default line-height
*/
$-fw-baseline: $-fw-fontsize * $-fw-lineheight !default;

/***
    TYPE
***/
/*
    TYPE SCALE

    This determines the exponential growth of the font-size as seen on
    http://type-scale.com/
*/
$-fw-minor-second       : 1.067 !default;
$-fw-major-second       : 1.125 !default;
$-fw-minor-third        : 1.2 !default;
$-fw-major-third        : 1.25 !default;
$-fw-perfect-fourth     : 1.333 !default;
$-fw-augmented-fourth   : 1.414 !default;
$-fw-perfect-fifth      : 1.5 !default;
$-fw-golden-ratio       : 1.618 !default;

/*
    Set default ratio used throughout project
*/
$-fw-ratio: $-fw-major-third !default;

/*  Set max and min number of headers to be used in project (h1 through h6) */
$-fw-h-type--min: 1 !default;
$-fw-h-type--max: 6 !default;

/***
    GRID
***/
/*  Set default number of columns used in grid */
$grid-start: 1 !default;
$grid-end: 12 !default;

$small:     30em !default; // Portrait mobile to landscape mobile
$medium:    50em !default; // Portrait tablet to landscape tablet
$large:     68.750em !default; // Small desktop to large desktop

$breakpoints: small, medium, large;

/***
    COMPONENTS
***/
$-fw-use-baseline-grid      : false !default;
$-fw-use-grid               : false !default;
$-fw-use-grid--responsive   : false !default;
