/*
    Calculate header sizes and create classes similair to header tags.
    EG
    <h1> -> .h1
*/

/*  Calculate header font-size using $-fw-fontsize & $-fw-ratio,
    also set default margin-bottom of al headers to $-fw-baseline (because it's
    easy) */
$-fw-ratio--exp: $-fw-ratio;
@for $i from $-fw-h-type--min through $-fw-h-type--max {
  h#{7 - $i},.h#{7 - $i} {
      font-size: $-fw-fontsize * $-fw-ratio--exp;
      margin-bottom: $-fw-baseline;
  }
  $-fw-ratio--exp: $-fw-ratio--exp * $-fw-ratio;
}

p {
    margin-bottom: $-fw-baseline;
    &:last-child {
        margin-bottom: 0;
    }
}
