/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 *
 */

@for $i from $grid-start through $grid-end {
    @if $i <= 2 {
        .col-1-of-#{$i} {
            width: (100 / $i) * 1%;
        }
    } @else {
        @for $x from ($i - 1) through 1 {
            .col-#{$i - $x}-of-#{$i} {
                width: 100 - ((100 / $i) * $x) * 1%;
            }
        }
    }
}

@each $c in $breakpoints {
    $screenwidth: null;
    @if $c == small {
        $screenwidth: $small;
    } @else if $c == medium {
        $screenwidth: $medium;
    } @else if $c == large {
        $screenwidth: $large;
    }
    @for $i from $grid-start through $grid-end {
        @if $i <= 2 {
            .#{$c}-col-1-of-#{$i} {
                @media (max-width: $screenwidth) {
                    width: (100 / $i) * 1%;
                }
            }
        } @else {
            @for $x from ($i - 1) through 1 {
                .#{$c}-col-#{$i - $x}-of-#{$i} {
                    @media (max-width: $screenwidth) {
                        width: 100 - ((100 / $i) * $x) * 1%;
                    }
                }
            }
        }
    }
}
