/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 *
 */

 // Calculate column widths and create classnames
@for $i from $-fw-grid-start through $-fw-grid-end {
    @if $i <= 2 {
        .col-1-of-#{$i} {
            width: (100 / $i) * 1%;
        }
    } @else {
        @for $x from ($i - 1) through 1 {
            .col-#{$i - $x}-of-#{$i} {
                width: 100 - ((100 / $i) * $x) * 1%;
            }
        }
    }
}

// Calculate responsive column widths and create classnames
$n: 1;
@each $-fw-breakpoint__type in $-fw-breakpoint__sizes {

    //Get responsive breakpoint width
    $-fw-breakpoint__size: nth($-fw-breakpoint__type, 1);
    //Get breakpointname to use in classname
    $-fw-breakpoint__name: nth($-fw-breakpoint__type, 2);

    //Set repsonsive breakpoint width
    @media (max-width: $-fw-breakpoint__size) {
        //Loop through number of columns set for grid
        @for $i from $-fw-grid-start through $-fw-grid-end {
            @if $i <= 2 {
                //Set breakpoint classname for x-of-1 and x-of-2
                .#{$-fw-breakpoint__name}-col-1-of-#{$i} {
                    width: (100 / $i) * 1%;
                }
            } @else {
                //Set breakpoint classname for x-of-3 and $-fw-grid-end
                @for $x from ($i - 1) through 1 {
                    .#{$-fw-breakpoint__name}-col-#{$i - $x}-of-#{$i} {
                        width: 100 - ((100 / $i) * $x) * 1%;
                    }
                }
            }
        }
    }
    $n: $n + 1;
}
