/***

    Uncomment and change value to overwrite default values

***/

/***
    BASELINE
    Documentation -> addon/baseline
***/

/* Set (body copy) font-size */
//$-fw-fontsize: 1rem;

/* Set baseline (= $-fw-fontsize * $-fw-lineheight) height for vertical rhythm */
//$-fw-lineheight: 1.4;

/***
    TYPE SCALE
    Documentation -> addon/typography

    Set exponential growth of <h1> & .h1 through <h6> & .h6, when you
    increase this value line-height for these elements should possibly also be
    increased and vice versa.

    Values:
    $-fw-minor-second: 1.067;
    $-fw-major-second: 1.125;
    $-fw-minor-third: 1.2;
    $-fw-major-third: 1.25;
    $-fw-perfect-fourth: 1.333;
    $-fw-augmented-fourth: 1.414;
    $-fw-perfect-fifth: 1.5;
    $-fw-golden-ratio: 1.618;
***/
//$-fw-ratio: $-fw-golden-ratio;

/*  Set max and min number of headers to be used in project (h1 through h6) */
//$-fw-h-type--max: 1;
//$-fw-h-type--min: 6;

/***
    GRID
    Documentation -> components/grid
***/
/*  Set number of columns used in grid, smaller $grid-end = less lines of css.
    $grid-start should remain 1 in most cases. */
//$-fw-grid-start: 1;
//$-fw-grid-end: 20;

/***
    COMPONENTS
***/
$-fw-use-baseline-grid      : false;
$-fw-use-grid               : true;
$-fw-use-grid--responsive   : true;
