@charset "UTF-8";

@import "config";

@import "framework/config/breakpoints";
@import "framework/config/components";
@import "framework/config/fonts";
@import "framework/config/gridwidths";
@import "framework/config/typescale";
@import "framework/config/zindex";

@import "framework/spine/defaults";
@import "framework/spine/mixins";
@import "framework/spine/normalize";
@import "framework/spine/reset";

@import "framework/addons/baseline";
@import "framework/addons/cf";
@import "framework/addons/font-face";
@import "framework/addons/helpers";
@import "framework/addons/typography";
@import "framework/addons/widths";
@import "framework/addons/zindex";

@import "framework/components/baselinegrid";
@import "framework/components/grid";

@import "ui/framework/colors";
@import "ui/framework/typography";

@import "ui/aside";
@import "ui/image";
@import "ui/grid";
@import "ui/header";
@import "ui/layout";
@import "ui/list";
@import "ui/quote";
@import "ui/logo";

body {
    /*
    @media (max-width: $-fw-breakpoint__large) {
            background: blue;
    }
    @media (max-width: $-fw-breakpoint__medium) {
            background: green;
    }
    @media (max-width: $-fw-breakpoint__small) {
            background: red;
    }
    */

}
.test-box--responsive {
    &:before{
        color: white;
        @media (max-width: $-fw-breakpoint__large) {
            content: "Large";
            background: blue;
        }
        @media (max-width: $-fw-breakpoint__medium) {
            content: "Medium";
            background: green;
        }
        @media (max-width: $-fw-breakpoint__small) {
            content: "Small";
            background: red;
        }
    }
}


.test-box {
    padding: $-fw-baseline;
    text-align: center;
    border-radius: 0.25rem;
    background: yellow;
}
