@charset "UTF-8";

@import "framework/spine/normalize";
@import "framework/spine/mixins";
@import "framework/spine/reset";

@import "config";

@import "framework/addons/widths";
@import "framework/addons/baseline";
@import "framework/addons/typography";

@import "framework/components/grid";

body {
    padding: $-fw-baseline;
    font-size: $-fw-fontsize;
    line-height: $-fw-baseline;
    background: pink;
}
.wrapper {
    width: 50%;
    padding: $-fw-baseline;
    margin-right: auto;
    margin-bottom: $-fw-baseline;
    margin-left: auto;
    background: white;
}
h1, .h1 {
    line-height: $-fw-baseline * 4;
}
h2, .h2 {
    line-height: $-fw-baseline * 3;
}
h3, .h3 {
    line-height: $-fw-baseline * 3;
}
h4, .h4 {
    line-height: $-fw-baseline * 2;
}
h5, .h5 {
    line-height: $-fw-baseline * 2;
}
h6, .h6 {
    line-height: $-fw-baseline * 2;
}

.test-box {
    padding: $-fw-baseline;
    text-align: center;
    border-radius: 0.25rem;
    background: yellow;
}
