@charset "UTF-8";

@import "framework/spine/defaults";
@import "framework/spine/normalize";
@import "framework/spine/mixins";
@import "framework/spine/reset";

@import "config";

@import "framework/addons/baseline";
@import "framework/addons/widths";
@import "framework/addons/typography";
@import "framework/addons/cf";

@import "framework/components/grid";
@import "framework/components/baselinegrid";

body {
    padding: $-fw-baseline;
    font-size: $-fw-fontsize;
    line-height: $-fw-baseline;
    background: pink;
    @media (max-width: $-fw-breakpoint__large) {
            background: blue;
    }
    @media (max-width: $-fw-breakpoint__medium) {
            background: green;
    }
    @media (max-width: $-fw-breakpoint__small) {
            background: red;
    }

}
.test-box--responsive {
    &:before{
        color: white;
        @media (max-width: $-fw-breakpoint__large) {
            content: "Large";
            background: blue;
        }
        @media (max-width: $-fw-breakpoint__medium) {
            content: "Medium";
            background: green;
        }
        @media (max-width: $-fw-breakpoint__small) {
            content: "Small";
            background: red;
        }
    }
}
.wrapper {
    width: 50%;
    padding: $-fw-baseline;
    margin-right: auto;
    margin-bottom: $-fw-baseline;
    margin-left: auto;
    background: white;
}
h1, .h1, .tera {
    line-height: $-fw-baseline * 4;
}
h2, .h2, .giga {
    line-height: $-fw-baseline * 3;
}
h3, .h3, .mega {
    line-height: $-fw-baseline * 3;
}
h4, .h4, .kilo {
    line-height: $-fw-baseline * 2;
}
h5, .h5, .hecto {
    line-height: $-fw-baseline * 2;
}
h6, .h6, .deca {
    line-height: $-fw-baseline * 2;
}

.test-box {
    padding: $-fw-baseline;
    text-align: center;
    border-radius: 0.25rem;
    background: yellow;
}
