blockquote {
    @extend .base;
    text-transform: uppercase;
    text-align: center;
}
.blog-blockquote {
    float: right;
    padding: $-fw-baseline;
    margin-right: -40%; // = 1 col width of the main grid
    margin-bottom: $-fw-baseline;
    margin-left: $-fw-baseline;
    color:  palette(grey, light);
    background: palette(grey, x-dark);
}
