.site-header {
    height: 90vh;
    background-image: url("../images/layout/header-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;    
}
