.image--freeflow {
    height: 100%;
    width: 100%;
    margin-bottom: $-fw-baseline;
    background-image: url("../images/layout/header-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    img {
        display: inline-block;
    }
}
