body {
    padding: 0;
    font-family: $body-stack;
    font-size: $-fw-fontsize;
    line-height: $-fw-baseline;
    color: palette(grey, x-dark);
    background: palette(grey, x-light);
    @include media($-fw-breakpoint__small, $-fw-breakpoint__medium) {
        background: red;
    }
}
a {
    text-decoration: none;
}
.l-wrapper {
    z-index: z(foreground);
    width: 80vw;
    margin: auto;
}
.l-wrapper--main {
    position: relative;
    z-index: 3;
}
.l-overlay-gfx {
    //display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        z-index: z(gfx-overlay);
        height: 80vw;
        width: 300%;
        background-color: rgba(palette(green), 0.8);
        @include vendor(transform-origin, 0% 0%);
        @include vendor(transform, skewy(-60deg));
    }
}
